<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predição de vendas</title>
</head>
<body>
    <h1 class="titulo">Predição de Vendas de Acessórios Automotivos</h1>
    <section class="elementos">
        <form action="/predict" method="POST">
            <label for="var1">Variavel 1:</label>
            <input type="text" name="var1" id="var1"> <br>
            <label for="var2">Variavel 2:</label>
            <input type="text" name="var2" id="var2"> <br>
            <label for="var3">Variavel 3:</label>
            <input type="text" name="var3" id="var3"> <br>
            <input type="submit" value="Prever">
        </form>
    </section><!-- .elementos -->
</body>
</html>